/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/


@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Assistant', sans-serif;

}

/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/


.notify {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(253, 37, 37);
    padding: 12px;
    color: white;
    font-size: 13px;
    font-weight: 400;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.notify svg {
    width: 25px;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.heading {
    background-color: #ffffff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.nav {
    display: flex;
    align-items: center;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 20px;
    font-size: 14px;
    font-weight: 400;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.header__heading-logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.search-icon {
    display: grid;
    height: 2rem;
    width: 2rem;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.cart-icon {
    height: 4rem;
    width: 4rem;
    padding: 0;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.bg-img {
    width: 100%;
    filter: brightness(50%);
}

.bg-content {
    position: absolute;
    top: 40vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 900;
    color: white;
    z-index: 1;

}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/
.banner-buttons {
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 45rem;
    word-break: break-word;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/
.shop-all-button {
    background-color: transparent;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/
.shop-all-button:hover {
    border: 2px solid rgb(255, 255, 255);
}

.topic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    font-size: 40px;
    font-weight: 400;
    color: #121212;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.second-topic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: rgba(18, 18, 18, 0.75);
}

.product-card {
    width: 300px;
    height: 400px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 8vw;
}

.product-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.product-info {
    text-align: center;
}

.product-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 14px;
}

.sale-price {
    color: red;
    font-weight: bold;
}

.add-btn {
    background-color: #ffffff;
    color: #121212;
    padding: 10px 20px;
    border: 1px solid #121212;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 100px;
}

.add-btn:hover {
    border: 2px solid black;
}

.product {
    font-size: 40px;
    color: #121212;
    font-weight: 700;
    margin: 8vw;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.how {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    color: #333
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.card-section {
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.topic {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444444;
    font-weight: 700;
}

.card-section img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    font-weight: 400;
}

.card-section:hover {
    transform: scale(1.03);

}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/

.explore {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-world {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.explore-video {
    width: 100%;

}

.video-description {
    font-size: 16px;
    color: #555;
    margin-top: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/
/*
  Author: Sujal Gautam
  Title:- Kunali website Clone
  Date: December 24, 2023
  Description: This stylesheet controls the styling for clone of kunali website made by Sujal Gautam.
  Github:-https://github.com/sujal747
*/
